<form class="form-inline addRuleForm" action="rules_engine/addNewRule">
	<div class="groupMain">
		<div class="form-group inlineGroup">
			<label class="small">Title for rule</label>
			<input type="text" name="rTitle" class="form-control" value="">   
		</div>
		<div class="form-group inlineGroup">
			<label class="small">Rule type</label>
			<select id="selRuleType" name="selRuleType" class="form-control">
					<option value="none">Select ...</option>
					<option value="sentence">Sentence rule</option>
					<option value="numerical">Numerical comparison</option>
					<option value="keywords">Keywords matching</option>
					<option value="custom">Custom*</option>                     
			</select>
		</div>
		<div class="form-group inlineGroup">
			<label class="small">Invoice column</label>
			<select id="selRuleColumn" name="selRuleColumn" class="form-control">
					<option value="none">Select ...</option>
					<option value="inv_date">Invoice date</option>
					<option value="units">Units</option>
					<option value="itemDesc">Description</option>
					<option value="rate">Rate</option>
					<option value="total_amount">Total value</option>
					<option value="Adjustment Type">Adjustment type</option>
					<option value="Adjustment Reason">Adjustment reason</option>                     
			</select>
		</div>        
	</div>        
	<br>
	<div class="subFormGroup">
		<div class="optionForms"></div>
		<div class="fieldEval" style="display:none;"> 
			<div class="rtRuleCategor form-groupBlock">
				<label class="small">Rule category</label>
				<select name="rtRuleCategory">
					<option value="none">Select ...</option>
					<option value="blockbilling">Block Billing</option>  
					<option value="catA">Category A</option>
					<option value="catB">Category B</option>
					<option value="catC">Category C</option>                  
				</select>  
			</div>  
			<div class="rtAnyThreshold form-groupBlock" style="display:none;">
				<label class="small">Threshold minimum</label>
				<input type="text" name="any_threshold_amount" class="form-control" value="0">
			</div>  
			<div class="form-groupBlock">
				<label class="small">Weight score </label>     
				<input type="text" name="weight" class="form-control">
			</div>
		</div>
	</div>
</form>