<div id="mainRulesEngine" class="clBox_main">
    <div class="clBox_title">
        <div class="clBox_titleText">
            <i class="fa fa-cubes"></i>
            Rules Engine Dashboard
        </div>
        <div class="clBox_menu">
            <div id="actApplyRules" class="clIconList-horz">
                <i class="fa fa-check"></i> Apply Rules 
            </div>
            <div class="clIconList-horz">        
                <i class="fa fa-file-text-o"></i> Reports 
            </div>
            <div id="actManageRules" class="clIconList-horz">
                <i class="fa fa-cog"></i> Manage Rules        
            </div>
        </div>
    </div>
    <div class="clBox_top subMenuArea"></div>
    <div class="clBox_body">       
        <div class="dataTableContent">
            <div class="placeHolder_full">
                <label>No content is loaded</label>
                <button id="loadDatacontent" type="button" class="btn btn-primary">Load Excel data</button>
            </div>
        </div>
    </div>
    <div class="clBox_footer"></div>        
</div>




