<div class="form-group" id="rtypeNumeric">
    <select name="rtNumericCondition" class="form-control">
            <option value="none">Select ...</option>
            <option value="numEqual">Equals to</option>  
            <option value="numGreater">Greater than</option>
            <option value="numLesser">Less than</option>
            <option value="numNotEqual">Not equal</option>   
            <option value="inRange">Threshold range</option>                  
    </select>  
    <input type="text" name="rtnum_value" class="form-control" placeholder="Value" value="0">
</div>