<div class="form-group" id="rtypeText">
    <select name="rtTextCondition" class="form-control">
            <option value="none">Select ...</option>
            <option value="containAll">Contains all</option>  
            <option value="containAny">Contains any</option> 
            <option value="wordsCount">Words count</option>                
    </select>  
    <textarea name="rttext_value" class="form-control" rows="3" placeholder="Text or keywords to match"></textarea>
</div>