<div class="clCard_main">
    <div class="clCard_title">
        <div class="clCard_titleText">Rules Management</div>
        <div class="clCard_menu">
            <div id="actAddRules" class="clIconList-horz openModal" 
                data-murl="raw?view=rules-engine/manage_rules"
                data-mtitle="Add new rule"
                data-mhandler="addNewRule">
                <i class="fa fa-plus"></i> Add new rule 
            </div>
            <div class="clIconList-horz">        
                Type 
            </div>
            <div id="actManageRules" class="clIconList-horz">
                <i class="fa fa-remove"></i>   
            </div>
        </div>
    </div>
    
    <div class="clCard_body">
        bbbbb
    </div>
    <div class="clCard_footer">
    </div>
</div>