<%= rcat %>
<%= threshold %>
<%= ruleopt %>

<table id="tsTableAdmin" class="table">
    <tr>
        <th>Inv Date</th>
        <th style="width:20%;">Matter Name</th>
        <th>Units</th>
        <th style="width:30%;">Description</th>
        <th>Rate</th>
        <th>Name</th>
        <th>Total</th>
        <th>Adj Type</th>
        <th>Adj Reason</th>
        <th>Rules Matched</th>
    </tr>
    <% for (var row in xlsData) { %>
        <% if(row==1) continue; %>
        <tr>
            <% for (var colLetter in reportColumns) { %>
                <% if(typeof xlsData[row][reportColumns[colLetter]] !== 'undefined') { %>
                    <td><%= xlsData[row][reportColumns[colLetter]] %> </td>
                <% } else { %>
                    <td></td>
                <% } %>
            <% } %>
            <td class="rules_matched">-</td>
        </tr>
    <% } %>    
</table>