.addRuleForm{
    min-height:100px;
}
.addRuleForm .groupMain label{
    text-align: right;
    margin-right: 5px;   
}
.addRuleForm .groupMain .inlineGroup{
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin-right: 8px;
    margin-top:5px;
}
.addRuleForm .groupMain .inlineGroup:last-of-type {
    border: none;
}
.addRuleForm .inlineGroup{
    display:inline-block;
}
.addRuleForm .subFormGroup{
    margin: 10px 20px 0;
    border-top: 2px dotted #ddd;
    padding-top: 15px;
}
.addRuleForm label.small{
    color:#777;
}
.optionForms .form-group{
    width:100%;
} 
.optionForms textarea{
    width: 75% !important;
    margin-left:5px;
}
.fieldEval{
    margin-top:10px;
}

.fieldEval label{
    width: 115px;
    text-align: right;
    margin: 10px 10px 0 0;   
}
.fieldEval input{
    width:50px;
}

/*apply rules*/
#applyRulesCard .selectRules{
    margin: 0 20px;    
}
#applyRulesCard .selectRules .checkbox-group{
    width: 32%;
    display: inline-block;    
}
#applyRulesCard .clCard_footer{
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
}
.thSlider{
    margin: 20px 0px 10px 20px;
}
.thSlider label{
display: inline-block;
    margin-left: 20px;
    font-size: 13px;
}
.thSlider #slider{
    width: 50%;
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #d3d3d3;
    height: 15px;
    border-radius: 4px;
    background: #fafafa;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
    position: relative;
    top: 3px;
    color: #777 !important;
}
#custom-handle {
    width: 34px;
    height: 25px;
    top: 3px;
    margin-top: -9px;
    text-align: center;
    line-height: 1.6em;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
}